:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    user-select: none;
    position: relative;
    text-autospace: normal;
    user-select: none;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

.top-bar {
    -webkit-app-region: drag;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 28%);
    background: var(--color-card-2);
    margin-bottom: 10px;
    flex-direction: row;
    position: absolute;
    display: flex;
    height: 40px;
    width: 100%;
    z-index: 999;
}

.top-bar.win {
    background: var(--color-bg-yellow);
}

.top-bar>div.bar-button {
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 40px;
    width: 55px;
}

.top-bar>div.space {
    flex: 1;
}

.top-bar>div.controller {
    -webkit-app-region: no-drag;
    display: flex;
}

.top-bar>div.controller>div {
    cursor: pointer;
    transition: background 0.2s;
    justify-content: center;
    border-radius: 7px;
    display: flex;
    margin: 4px 1px;
    padding: 9px;
    width: 26px;
}

.top-bar>div.controller>div.min>svg {
    transform: scale(0.9);
}

.top-bar>div.controller>div.reflush>svg {
    transform: scale(0.9);
}

.top-bar>div.controller>div.close {
    margin-right: 4px;
}

.top-bar>div.controller>div:hover {
    background: var(--color-card-1);
}

.top-bar>div.controller>div.close:hover {
    background: #f20000dd;
}

.top-bar>div.controller>div>svg {
    color: var(--color-font);
    height: 16px;
}

.top-bar>div.controller>div.close:hover>svg {
    color: #fff;
    background: #a5a5a5;
}

.mac-controller {
    -webkit-app-region: drag;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 30px;
}

.tab-bar > li:last-child > div {
    background: var(--color-main) !important;
}
